html, body {
        max-width: 100%;
        overflow-x: hidden;
    }

.navbar {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(220,195,166,0.5);
	border: none;
	width: 100%;
	margin-bottom:0;
}	

.navbar-default .navbar-nav>li>a{
	color: #4a2c25;
	font-weight: bold;
	font-size: 16px;
}

.navbar-default .navbar-brand{
	color: #4a2c25;
	font-weight: bold;
}

.form-control{
	background-color: rgba(255,255,255,0.3);
}
.article-background {
	height:1000px;
	background-color :#858585;
	background-image:url("https://www.transparenttextures.com/patterns/church.png");
	background-repeat:repeat
	margin:0;
	padding:0; 
	margin-bottom:0; 
}
.article-background p {
	margin:0;
}
.myth-box{
	height: 100vh;
	background-image:url(../Images/background.jpg); 
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	background-size: cover;
	background-position: center;
}


.myth-bar {
	font-family: 'Tenor Sans', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(192,166,133,0.3);
	text-align: center;
	font-size: 27px;
	padding: 10px 0;
	margin-left: 0;
}

.myth-bar a{
	color: #F7E4DD;
}

.myth-intro{
	padding: 0;
	margin: 0;
	background-color: #D3BE9F; 
}

.myth-intro h2{
	text-align: center;
	font-weight: bold;
	margin: 30px 0;
}

.myth-intro p{
	text-align: justify;
	font-style: italic;
	font-size: 20px;
	margin: 30px 40px;
}

.showcase{
	padding: 0;
	background-color: #D6D4C7;
}

.showcase2{
	background-color: #C3C2B0;
}

.showcase h1{
	text-align: center;
	color: #000;
}

.showcase a{
	color: #000;
}

.circletag {
	background-color: #E8D2C4;
	overflow: auto;
	margin: auto;
    width: 150px;
    height: 150px;
    align-content: center;
    border: 5px solid black;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.circletag img {
  	max-height: 100%;
  	max-width: 100%;
}

.col-md-3 a{
	width: 150px;
    height: 150px;
}

.page-footer{
	
	width:100%;
	padding: 10px 0;
	font-size: 16px;
	background-color: #DCC1A3;
	text-align: right;
	margin: 0;
}

.page-footer a{

	color: #000;
	font-weight: bold;
	padding-right:20px;

}
.main{
	color:black;
	padding:30px;
}

.team{
	color:orange;
}




.image{

 padding-left:150px
	
}
.story{
 display:center;
 font-size:25px;
 font-family:justify;
 width:40%;
 
}

.story h4{
	font-family:italic;
	font-size:30px;
	padding:5px;
	

}
.col-md-4{
	padding-left:100px;
	
	
	

}

.col-md-4 h3{
  padding-left:30px;

}
.col-md-4 p{
	width:50.3%;
	font-size:20px;
	
}

.col-md-6 h3{
	padding-left:100px;
}
.col-md-6 p{
	width:50.3%;
	font-size:20px;
	
}

.col-md-4 img{
	width:150px;
	
}

* {
    box-sizing: border-box;
}

.article-icon img {
    width: 400px;
    height: 300px;
    align-content:left;
    padding-left:80px;

}
.article-title 
{position:relative;}

.article-title h1 {
	padding:0;
	margin:0;
	position:absolute;
	top:240px;
	left:270px;
}

.article-title h4 {
	padding:0;
	margin:0;
	position:absolute;
	top:210px;
	left:270px;

    
}
.article-text {
    margin: 100px;
    margin-top:50px;
}


 .diff{
	width:150px;
	
}


