html, body {
        max-width: 100%;
        overflow-x: hidden;
    }
background-color: #858585;
background-image: url("https://www.transparenttextures.com/patterns/church.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
.navbar {
	margin-bottom: 0;
	color:transparent;
    opacity:0.3;}

.myth-box{
	height: 900px;
	background-image:url(../Images/background.jpg); 
	background-repeat: no-repeat;
	background-size: 100% 100vh;
	padding: 0;
	margin: 0;
	position: relative;
}


.myth-bar {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(211,211,211,0.3);
	text-align: center;
	font-size: 24px;
}

.myth-bar a{
	color: #fff;
}

.myth-bar ul{
	padding: 0;
	list-style: none;
}

.myth-bar li{
	display: inline;
	padding: 50px;
	margin: 50px;

}

.showcase{
	padding: 0;
	height: 300px;
}

.showcase h1{
	text-align: center;
}

.page-footer{
	padding: 5px 0;
	font-size: 16px;
	background-color: rgba(211,211,211,0.3);
	text-align: right;
	margin: 0;
}