html, body {
        max-width: 100%;
        overflow-x: hidden;
    }




@media (max-width: 768px) {
	.myth-logo {
		max-width: 50%;
		position: absolute;
		right: 25%;
		top: 100px;
	}

    .myth-intro h2{
    	padding: 0 5%;
    	text-align: center;
    }

    .myth-intro p{
    	text-align: center !important;
    	font-size: 20px !important;
    	margin: 5% !important;
    }
}

@media (max-width: 420px) {
	.myth-intro p{
		display: none !important;
	}
}

.navbar {
	font-family: 'Open Sans', sans-serif;
	background-color: rgba(220,195,166,0.5);
	border: none;
	width: 100%;
	margin-bottom:0;
}	

.navbar-default .navbar-nav>li>a{
	color: #4a2c25;
	font-weight: bold;
	font-size: 18px;
}

.navbar-default .navbar-brand{
	color: #4a2c25;
	font-weight: bold;
}

.form-control {
	background-color: rgba(255,255,255,0.3);
}

.glyphicon-search {
	color: rgba(74,44,37,0.6);
}

.article-background {
	height:1000px;
	background-color :#858585;
	background-image:url("https://www.transparenttextures.com/patterns/church.png");
	background-repeat:repeat
	margin:0;
	padding:0; 
	margin-bottom:0; 
}

.article-background p {
	margin:0;
}

.myth-box{
	height: 100vh;
	background-image:url(../Images/background.jpg); 
	background-repeat: no-repeat;
	padding: 0;
	margin: 0;
	background-size: cover;
	background-position: center;
}

.myth-bar {
	font-family: 'Tenor Sans', sans-serif;
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(74,44,37,0.6);
	text-align: center;
	font-size: 27px;
	padding: 10px 0;
	margin-left: 0;
}

.myth-bar a{
	color: #dcc3a6;
}

.myth-intro{
	padding: 0;
	margin: 0;
	background-image: url(../Images/intro-bgd.jpg); 
}

.myth-intro h2{
	font-family: 'Open Sans', sans-serif;
	color: #4a2c25;
	text-align: center;
	font-weight: bold;
	margin: 30px 0;
}

.myth-intro p{
	color: #4a2c25;
	text-align: justify;
	font-family: 'Open Sans', sans-serif;
	font-style: italic;
	font-size: 22px;
	margin: 30px 60px;
	margin-bottom: 40px;
}

.showcase{
	text-align: center;
	padding: 0;
	background-image: url(../Images/ma-bgd.jpg); 
}

.showcase2{
	background-image: url(../Images/aa-bgd.jpg);
}

.showcase h1{
	font-family: 'Tenor Sans', sans-serif;
	text-align: center;
	color: #4a2c25;
	display: inline-block;
	border-top: 4px solid #4a2c25;
	border-bottom: 4px solid #4a2c25;
	padding-top: 1px;
	padding-bottom: 1px;
	margin-bottom: 25px;

}

.showcase h1>a:hover {
	text-decoration: none;
}

.showcase a{
	font-family: 'Open Sans', sans-serif;
	color: #4a2c25;
}

.circletag {
	background-color: #e6d7c5;
	overflow: auto;
	margin: auto;
    width: 150px;
    height: 150px;
    align-content: center;
    border: 5px solid #4a2c25;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
}

.circletag img {
	margin: 5%;
  	max-height: 90%;
  	max-width: 90%;
}

.myth-icon-text{
	font-size: 20px;
}

.col-md-3 a{
	width: 150px;
    height: 150px;
}

.page-footer{
	
	width:100%;
	padding: 10px 0;
	font-size: 18px;
	background-color: #dcc3a6;
	text-align: right;
	margin: 0;
}

.page-footer a{
	font-family: 'Open Sans', sans-serif;
	color: #4a2c25;
	font-weight: bold;
	padding-right:20px;

}
.main{
	font-size:50px;
	color:#550a0a;
	padding:40px;
	text-align:left;
	font-family:'Tenor Sans', sans-serif;

	
}

.team{
	color:#31081F;
	font-family: 'cinzel';
	text-decoration-line: underline;
	padding-bottom:20px;
	text-align:center;
	
	
	
}


.collage{
	background-color: #dcc3a6;
	border-bottom:10px solid white;
	
	
}

.image{
	padding-right:50px;
	padding-top:50px;
	
	
	
	
	
}




.story{
 display:center;
 font-size:17px;
 font-family:'open sans';
 color:#31081F;
 
 

 
 padding-left:30px;
 
}

.story h4{
	font-family:italic;
	font-size:30px;
	padding:5px;
	font-family:'Cinzel';
	
	

}

/*.col-md-4{

	
	
}
*/

	.team1{
		background-image: url(../Images/intro-bgd.jpg); 
		border-bottom:10px solid white;
		


	}
	.team2{
		background-image: url(../Images/ma-bgd.jpg);
		border-bottom:10px solid white;
	}
    .team3{
		background-image: url(../Images/aa-bgd.jpg);
		
	}


.columntag h3{
	text-align:center;
	width:60.3%;
	margin:auto;
	padding-top:10px;
	color:#31081F;
	
	
	
	
	

}
.columntag p{
	width:60.3%;
	font-size:20px;
	text-align:center;
	margin:auto;
	padding-top:10px;
	padding-bottom:10px;
	font-family:'Raleway';
	font-style:italic;
	color:#31081F;
	
	
	
}




	



.article-icon img {
    width: 400px;
    height: 300px;
    align-content:left;
    padding-left:80px;

}
.article-title 
{position:relative;}

.article-title h1 {
	padding:0;
	margin:0;
	position:absolute;
	top:240px;
	left:270px;
}

.article-title h4 {
	padding:0;
	margin:0;
	position:absolute;
	top:210px;
	left:270px;
    
}


 .diff{
	width:150px;
	
}


